@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
  }
  ::-webkit-scrollbar-thumb {
    background: #B9FF66;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #191919;
  }
}
